$main-text-color: #4f4f4f;
$border-color: #4f4f4f;
$border-radius: 1rem;
$badge-translate-y: -2.5em;
$hr-stroke: 10px;
$image-min-height: 175px;
$title-grid-height: 1.2rem;
$description-grid-height: minmax(5rem, 10rem);
