* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #4f4f4f;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

.app__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
}
.app__container hr {
  position: fixed;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: #c4c4c4;
  border: 0 solid black;
}

.layout-template {
  position: relative;
  aspect-ratio: 9/15;
  width: clamp(300px, 20%, 50%);
  margin-top: 1.25em;
  padding: 1.25em;
}
.layout-template__title-badge {
  text-wrap: nowrap;
  text-overflow: clip;
  overflow: hidden;
  position: absolute;
  font-size: 0.875rem;
  font-weight: 500;
  width: 50%;
  height: 50%;
  padding: 0.625em 1.5em;
  border: 2px solid #4f4f4f;
  border-radius: 1rem;
  z-index: -1;
  transform: translateY(-2.5em);
}
.layout-template .image-display {
  grid-area: upload;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.layout-template .form {
  grid-template-rows: 1.2rem minmax(5rem, 10rem) minmax(175px, auto) 30px;
  grid-template-areas: "title title" "description description" "upload upload" ". button";
}
.layout-template .form .image-display {
  position: relative;
  background-color: #e2b6a7;
  cursor: pointer;
}
.layout-template .form .image-display .form__label-text {
  position: absolute;
  top: 60%;
  right: 50%;
  transform: translateX(50%);
}
.layout-template .form label {
  grid-area: upload;
}
.layout-template .render {
  grid-template-rows: 1.2rem minmax(5rem, 10rem) minmax(220px, auto);
  grid-template-areas: "title title" "description description" "upload upload";
}
.layout-template .render .image-display {
  background-color: #e1e1e1;
}
.layout-template .render .loading {
  grid-area: upload;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.layout-template .form,
.layout-template .render {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  height: 100%;
  padding: 1em;
  border: 2px solid #4f4f4f;
  border-radius: 1rem;
  background-color: white;
}
.layout-template .form textarea,
.layout-template .render textarea {
  font-family: inherit;
  background-color: unset;
  border: unset;
  resize: none;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
.layout-template .form textarea:focus,
.layout-template .render textarea:focus {
  outline: none;
}
.layout-template .form textarea:hover,
.layout-template .render textarea:hover {
  overflow-y: auto;
}
.layout-template .form textarea:focus::-moz-placeholder, .layout-template .render textarea:focus::-moz-placeholder {
  color: transparent;
}
.layout-template .form textarea:focus::placeholder,
.layout-template .render textarea:focus::placeholder {
  color: transparent;
}
.layout-template .form input[type=file],
.layout-template .render input[type=file] {
  display: none;
}
.layout-template .form button,
.layout-template .render button {
  grid-area: button;
}
.layout-template .form .form__title,
.layout-template .form .render__title,
.layout-template .form .form__description,
.layout-template .form .render__description,
.layout-template .render .form__title,
.layout-template .render .render__title,
.layout-template .render .form__description,
.layout-template .render .render__description {
  width: 100%;
  text-overflow: clip;
  overflow: hidden;
}
.layout-template .form .form__title,
.layout-template .form .render__title,
.layout-template .render .form__title,
.layout-template .render .render__title {
  grid-area: title;
  font-size: 1.2rem;
  color: #c56e4f;
  font-weight: bold;
  text-wrap: nowrap;
  height: 1.5em;
}
.layout-template .form .form__description,
.layout-template .form .render__description,
.layout-template .render .form__description,
.layout-template .render .render__description {
  grid-area: description;
  font-size: 1rem;
  height: 100%;
}

@media (max-width: 750px) {
  body {
    height: unset;
    overflow-y: auto;
  }
  .app__container {
    flex-direction: column;
  }
  .app__container hr {
    position: unset;
    min-height: 10px;
    width: 100vw;
  }
  .layout-template {
    margin: 3em;
    width: 300px;
  }
}/*# sourceMappingURL=style.css.map */